<h3><span>{{blog.blogTitle}}</span><small>Posted on {{moment-format blog.pubDate}}</small></h3>
<div class="body">
{{#each blog.contents as |content|}}
	{{#if content.isText}}
	<p>{{{content.contentText}}}</p>
	{{/if}}
	{{#if content.isImage}}
	<div class="img-wrapper">
	<figure>
		<img src="{{model.host}}/get-img/{{content.id}}" alt="image">
		<figcaption>{{content.contentCaption}}</figcaption>
	</figure>
	</div>
	{{/if}}
{{/each}}
</div>
<hr>
<div class="comment-section">
	<h4>Comments</h4>
	{{#if blog.hasComments}}
		{{#each blog.comments as |comment|}}
		{{#if comment.isApproved}}
			<div class="comment"><i>At {{moment-format comment.commentDate}}, {{comment.user.username}} said:</i><br>{{comment.commentText}}</div>
		{{/if}}
		{{/each}}
	{{else}}
		<h5>No comments have been posted yet</h5>
	{{/if}}
</div>
{{#if session.isAuthenticated}}
<div class="comment-tool">
{{textarea placeholder=model.placeholder value=commentText}}
<button {{action "addComment"}}>Add Comment</button>
</div>
{{/if}}
<br><br>
