<h1>Login</h1>
<h3>{{msg}}</h3>
<section id="LoginForm">
<div class="form-row">
	<label for="name">Username:</label>
	{{input value=username name="name"}}
</div>
<div class="form-row">
	<label for="pass">Password:</label>
	{{input type="password" name="pass" value=password}}
</div>
<div class="form-row">
	<button {{action "cancel"}}>Cancel</button>
	<button {{action "authenticate"}}>Log In</button>
</div>
</section>
